@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
/* تعريف متغيرات الألوان */
:root {
  --background: #f9fafb;
  --foreground: #111827;
  --primary: #3b82f6;
  --secondary: #64748b;
  --accent: #facc15;
  --muted: #d1d5db;
}

/* dark mode */
.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --primary: #3b82f6;
  --secondary: #94a3b8;
  --accent: #facc15;
  --muted: #4b5563;
}

/* body و html */
html {
  @apply font-sans;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}